qualitas-internal-bpel-instrumentation/src/test/resources/XhGPWWhile/StockQuotesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns0="http://examples.ws.nuntius.xh.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://examples.ws.nuntius.xh.org">
   <wsdl:types>
      <xs:schema xmlns:ns="http://examples.ws.nuntius.xh.org" attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://examples.ws.nuntius.xh.org">
         <xs:element name="isStockOpenResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getStockQuote">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="company" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getStockQuoteResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="setStockQuote">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="company" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="isStockOpenRequest"/>
   <wsdl:message name="isStockOpenResponse">
      <wsdl:part name="parameters" element="ns0:isStockOpenResponse"/>
   </wsdl:message>
   <wsdl:message name="getStockQuoteRequest">
      <wsdl:part name="parameters" element="ns0:getStockQuote"/>
   </wsdl:message>
   <wsdl:message name="getStockQuoteResponse">
      <wsdl:part name="parameters" element="ns0:getStockQuoteResponse"/>
   </wsdl:message>
   <wsdl:message name="setStockQuoteRequest">
      <wsdl:part name="parameters" element="ns0:setStockQuote"/>
   </wsdl:message>
   <wsdl:message name="setStockQuoteResponse"/>
   <wsdl:portType name="StockQuotesServicePortType">
      <wsdl:operation name="isStockOpen">
         <wsdl:input message="ns0:isStockOpenRequest" wsaw:Action="urn:isStockOpen"/>
         <wsdl:output message="ns0:isStockOpenResponse" wsaw:Action="urn:isStockOpenResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getStockQuote">
         <wsdl:input message="ns0:getStockQuoteRequest" wsaw:Action="urn:getStockQuote"/>
         <wsdl:output message="ns0:getStockQuoteResponse" wsaw:Action="urn:getStockQuoteResponse"/>
      </wsdl:operation>
      <wsdl:operation name="setStockQuote">
         <wsdl:input message="ns0:setStockQuoteRequest" wsaw:Action="urn:setStockQuote"/>
         <wsdl:output message="ns0:setStockQuoteResponse" wsaw:Action="urn:setStockQuoteResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="StockQuotesServiceSOAP11Binding" type="ns0:StockQuotesServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="isStockOpen">
         <soap:operation soapAction="urn:isStockOpen" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getStockQuote">
         <soap:operation soapAction="urn:getStockQuote" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setStockQuote">
         <soap:operation soapAction="urn:setStockQuote" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="StockQuotesServiceSOAP12Binding" type="ns0:StockQuotesServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="isStockOpen">
         <soap12:operation soapAction="urn:isStockOpen" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getStockQuote">
         <soap12:operation soapAction="urn:getStockQuote" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setStockQuote">
         <soap12:operation soapAction="urn:setStockQuote" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="StockQuotesServiceHttpBinding" type="ns0:StockQuotesServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="isStockOpen">
         <http:operation location="StockQuotesService/isStockOpen"/>
         <wsdl:input>
            <mime:content type="text/xml" part="isStockOpen"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="isStockOpen"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getStockQuote">
         <http:operation location="StockQuotesService/getStockQuote"/>
         <wsdl:input>
            <mime:content type="text/xml" part="getStockQuote"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="getStockQuote"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setStockQuote">
         <http:operation location="StockQuotesService/setStockQuote"/>
         <wsdl:input>
            <mime:content type="text/xml" part="setStockQuote"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="setStockQuote"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="StockQuotesService">
      <wsdl:port name="StockQuotesServiceSOAP11port_http"
                 binding="ns0:StockQuotesServiceSOAP11Binding">
         <soap:address location="http://localhost:9191/ode/processes/StockQuotesService"/>
      </wsdl:port>
      <wsdl:port name="StockQuotesServiceSOAP12port_http"
                 binding="ns0:StockQuotesServiceSOAP12Binding">
         <soap12:address location="http://localhost:9191/ode/processes/StockQuotesService"/>
      </wsdl:port>
      <wsdl:port name="StockQuotesServiceHttpport" binding="ns0:StockQuotesServiceHttpBinding">
         <http:address location="http://localhost:9191/ode/processes/StockQuotesService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>